# Pandas

In [2]:
import pandas as pd

In [2]:
pd.__version__

'1.2.4'

In [4]:
l=[1,2,3,2.5,'bhaiya']
print(l)

[1, 2, 3, 2.5, 'bhaiya']

### Series

In [5]:
s1=pd.Series(l)

In [6]:
print(s1)

0         1
1         2
2         3
3       2.5
4    bhaiya
dtype: object

In [7]:
type(s1)

pandas.core.series.Series

In [8]:
s2=pd.Series([1,2,3,4])
print(s2)

0    1
1    2
2    3
3    4
dtype: int64

In [9]:
empty_s=pd.Series([])
print(empty_s)

Series([], dtype: float64)

<ipython-input-9-61bfa6afa16b>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_s=pd.Series([])

In [10]:
s3=pd.Series([1,2,3,4], index=['a','b','c','d'])
print(s3)

a    1
b    2
c    3
d    4
dtype: int64

In [12]:
s3=pd.Series([1,2,3,4], index=['a','b','c','d'], dtype=float, name='data')
print(s3)

a    1.0
b    2.0
c    3.0
d    4.0
Name: data, dtype: float64

In [13]:
scaler_s=pd.Series(0.5)
print(scaler_s)

0    0.5
dtype: float64

In [14]:
scaler_s=pd.Series(0.5, index=[1,2,3,4])
print(scaler_s)

1    0.5
2    0.5
3    0.5
4    0.5
dtype: float64

In [20]:
dict_s=pd.Series({'a':1, 'b':2})
print(dict_s)

a    1
b    2
dtype: int64

In [22]:
s4=pd.Series([1,2,3,4,5])
print(s4)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [23]:
s4[0]

1

In [24]:
s4[1:4]

1    2
2    3
3    4
dtype: int64

In [26]:
s4[::-1]

4    5
3    4
2    3
1    2
0    1
dtype: int64

In [27]:
max(s4)

5

In [28]:
min(s4)

1

In [29]:
s4[s4>2]

2    3
3    4
4    5
dtype: int64

In [30]:
s5=pd.Series([1,2,3,4,5])
print(s5)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [31]:
s4+s5

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [32]:
s4-s5

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [33]:
s4*s5

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [34]:
s6=pd.Series([1,2,3])

In [35]:
s4+s6

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64

### DataFrame

In [2]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
l=['a','b','c','d']
df=pd.DataFrame(l)
print(df)

   0
0  a
1  b
2  c
3  d

In [4]:
df

   0
0  a
1  b
2  c
3  d

In [5]:
l=[[1,2,3],[4,5,6],[7,8,9]]
l

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [6]:
df=pd.DataFrame(l)
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [7]:
dict1={'ID':[1,2,3,4,5]}
dict1

{'ID': [1, 2, 3, 4, 5]}

In [8]:
df=pd.DataFrame(dict1)
df

   ID
0   1
1   2
2   3
3   4
4   5

In [9]:
dict1={'ID':[1,2,3,4,5],'SNo':[10,20,30,40,50]}
df=pd.DataFrame(dict1)
df

   ID  SNo
0   1   10
1   2   20
2   3   30
3   4   40
4   5   50

In [10]:
ls_dict=[{'a':1,'b':2},{'a':3,'b':4}]
df=pd.DataFrame(ls_dict)
df

   a  b
0  1  2
1  3  4

In [11]:
ls_dict=[{'a':1,'b':2},{'a':3,'b':4,'c':5}]
df=pd.DataFrame(ls_dict)
df

   a  b    c
0  1  2  NaN
1  3  4  5.0

In [12]:
dict_ser={"ID":pd.Series([1,2,3]),'SN':pd.Series([4,5,6])}
df=pd.DataFrame(dict_ser)
df

   ID  SN
0   1   4
1   2   5
2   3   6